/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background-color: rgba(0, 0, 0, 0.863);
  color: rgba(255, 255, 255, 0.781);
  height: 100%;
  padding-top: 60px; //to show alert msg
}


.jumbotron{
  background-color: black;
  padding-top: 80px;
  h1{
    margin-bottom: 30px;
  }
  p{
    padding-top: 60px;
  }
  .bodyimage1{
    object-fit: cover;
    display: block;
    width: 100%; height: 100%;

  }
}

.signuptext{
  height: 90px;
  padding-bottom: 20px;
  .registration{
    text-align: center;
  }
  .loginform{
    text-align: center;
  }
  .signuptext-btn{
    padding-left: 20px;
  }
  .loginform-btn{
    padding-left: 20px;
  }
}


.body{
  background-image: url("takingnotes.jpg");
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1{
    padding: 100px 0 30px 0;
    text-align: center;
  }
  p{
    padding: 15px 0 15px 0;
    text-align: center;
  }
}

// footer in sessions/_footer.html.erb file
footer{
  .coloroffooter{
    padding-top: 10px;
  }
  a{
    color: rgba(255, 255, 255, 0.521);
  }
  .contact{
    color: rgba(255, 255, 255, 0.521);
    padding-top: 10px;
  }
  .footer-copyright{
    padding-left: 20px;
  }
  .register{
    padding-top: 25px;
  }
  hr{
    border: 1px solid white;
  }
  .horizontalline{
    padding-top: 25px;
  }
}

// signup form users new.html.erb
.signup{
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  .form-inline{
    padding-bottom: 8px;
  }
  .imagefield{
    margin: 30px 0;
  }
  .btn{ 
    padding: 10px 120px;
    margin: 30px 0;
  }
  .youhaveanaccount{
    margin-bottom: 40px;
  }
  .linktologin{
    color: rgba(255, 255, 255, 0.671);
  }
}
#error_msg{
  text-align: center;
  color: #f00;
  list-style: none;
  margin: 30px 0 18px 0;
  display: block;
  h3{
    padding-bottom: 10px;
  }
  ul{
    display: inline-block;
    li{
      text-align: left;
    }
  }
}

// login form sessions new.html.erb
.login{
  text-align: center;
  display: inline-block;
  margin-top: 70px;
  h2{
    margin-bottom: 30px;
  }
  .form-inline{
    padding-bottom: 12px;
  }
  .btn{
    padding: 10px 120px;
    margin: 30px 0;
  }
  .create{
    margin-bottom: 40px;
  }
  .linktosignup{
    color: rgba(255, 255, 255, 0.671);
  }
}

//user show page show.html.erb users
.profile{
  text-align: center;
  display: block;
  margin: 30px 0 18px 0;
  h3{
    padding-bottom: 10px;
  }
  ul{
    display: inline-block;
    li{
      text-align: left;
      list-style: none;
      padding: 10px 0;
    }
  }
  .seenotes{
    color: rgba(255, 255, 255, 0.671);
  }
  .btn{
    margin: 15px 0;
  }
}

//edit user page edit.html.erb users
.edit_user{
  text-align: center;
  display: inline-block;
  margin: 30px 0 18px 0;
  h3{
    padding-bottom: 10px;
  }
  .edit_form{
    .form-inline{
      padding-bottom: 12px;
    }
    .image-file{
      padding-top: 10px;
    }
    .submit{
      margin-bottom: 30px;
    }
  }
  .back-link{
    padding-bottom: 30px;
  }
  .back{
    color: white;
  }
}

//notes index page all notes
.all-notes-title{
  margin-top: 50px;
}
.all-notes-hr{
  border-bottom: 1px solid #eaeaea9d;
  width: 750px;
  margin-top: 50px;
}
.note-title{
  font-weight: bold;
  font-size: 1.5rem;
}
.note-body{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15 0;
}
.all-notes{
  text-align: center;
  display: block;
  margin-top: 60px;
  h3{
    padding-bottom: 10px;
  }
  ul{
    display: inline-block;
    li{
      text-align: left;
      list-style: none;
      padding: 10px 0;
    }
  }
  hr{
    border-bottom: 1px solid #eaeaea9d;
    width: 750px;
  }
  .btn{
    margin: 30px 80px;
    padding: 10px 50px;
  }
}
.pagination{
  text-align: center;
  display: block;
  padding: 40px 0;
}
.new-note{
  margin-bottom: 50px;
  color: white;
  text-align: center;
  display: inline-block;
  .new-btn{
    padding: 10px 50px;
  }
}

// note show page show.html.erb notes
.show-title{
  margin-top: 40px;
}
.note-show{
  display: block;
  text-align: center;
  width: 500px;
  line-height: 250%;
  margin-top: 40px;
  .note-btn{
    text-align: center;
    margin-bottom: 50px;
  }
  .btn{
    margin: 20px;
  }
}